.HomePage {
  background: url(https://thumbs.wbm.im/pw/small/0b9e256d383ea526f3a69e7c8ac567a0.avif)
    no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
